
/**
 * We're almost done.
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * We hope you enjoyed this.
 * 
 */

/**
 * Our team brings decades of experience and proven tool sets to the most 
 * complex modernization and migration projects. We can work with you and your teams 
 * on strategy and business cases through design, conversions and testing .. or anywhere
 * in between.
 *
 * Give us a call and let's discuss how we can help you transform
 * your most critical digital data and application assets
 *
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * MSS International: Our mission is your success.
 * 
 */


